{% extends "index.html" %}

{% block content %}
  <section class="home-banner">
    <img src="{{ url_for('static', filename='home-banner.jpg') }}" alt="Community Image" class="banner-img">

    <div class="blurb-box">
        <p><strong>Welcome! We are a community health hub for Washington Heights & Harlem, powered by your stories and lived experiences.</strong></p>
      
        <p class="get-started">
          <strong>Get Started Here:</strong>
          <select id="dropdown">
            <option disabled selected>Select...</option>
            <option>Events</option>
            <option>Resources</option>
            <option>Get Involved</option>
          </select>
        </p>
    </div>
  </section>

  <div class="purple-line"></div>

  <div class="local-story-wrapper">
    <section class="local-story">
      <div class="story-img-container">
        <div class="img-offset"></div>
        <img src="{{ url_for('static', filename='family1.jpg') }}" alt="People smiling" class="story-img">
      </div>
      <div class="story-text">
        <h2>Local Story</h2>
        <p>This is a local story or blog post that is being features on the home page. 
          This is pretend filler to make it seems like there is a real story. 
          This gives a little bit of detail or summarizes the story.<br>This is more information.</p>
        <a href="#" class="learn-more-btn">Learn More</a>
      </div>
    </section>
  </div>

  <div class="events-section">
    <h2 class="events-title">Upcoming Events</h2>
  
    <div class="events-container">
      <div class="event-card">
        <h3>Event 1</h3>
        <p>This might be example of a description of an event or another neurological disorder, where people can click more below.</p>
        <p><strong>January 10th, 2026</strong></p>
        <a href="#">Learn more >></a>
      </div>
  
      <div class="event-card">
        <h3>Event 2</h3>
        <p>This might be example of a description of an event or another neurological disorder, where people can click more below.</p>
        <p><strong>January 10th, 2026</strong></p>
        <a href="#">Learn more >></a>
      </div>
  
      <div class="event-card">
        <h3>Event 3</h3>
        <p>This might be example of a description of an event or another neurological disorder, where people can click more below.</p>
        <p><strong>January 10th, 2026</strong></p>
        <a href="#">Learn more >></a>
      </div>
    </div>
  
    <div class="view-calendar-wrapper">
      <button class="view-calendar-btn">View Calendar</button>
    </div>
  </div>

{% endblock %}