<!-- this is the initial layout page, and includes the navbar that stays consistent throughout the different pages. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;800&display=swap" rel="stylesheet">
  <title>Community Movers Resource Hub</title>
  <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
  <header class="navbar">
    <div class="top-row">

      <a href="{{ url_for('home') }}" class="logo-title" aria-label="Home">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo" />
        <div class="site-text">
          <h1>Community Movers Resource Hub</h1>
          <p>A center for community stories and resources for the Washington Heights and Harlem area.</p>
        </div>
      </a>

      <div class="search-wrapper">
        <input type="text" placeholder="" />
        <img src="static/searchicon.png" alt="Search" class="search-icon" />
      </div>
    </div>

    <nav class="bottom-row">
      <a href="{{ url_for('movement') }}">
        <span class="long-text">Connecting through Movement</span>
        <span class="short-text">Movement</span>
      </a>
      <a href="{{ url_for('spirit') }}">
        <span class="long-text">Connecting through Spirit</span>
        <span class="short-text">Spirit</span>
      </a>
      <a href="{{ url_for('youth') }}">
        <span class="long-text">Connecting our Youth</span>
        <span class="short-text">Youth</span>
      </a>
      <a href="{{ url_for('research') }}">
        <span class="long-text">Connecting through Research</span>
        <span class="short-text">Research</span>
      </a>
      <a href="#">
        <span class="long-text">More About Brain Health</span>
        <span class="short-text">Brain Health</span>
      </a>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

<footer class="site-footer">
  <div class="footer-inner">
    <!-- Logo + Contact -->
    <div class="footer-left">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Footer Logo" class="footer-logo-img" />
      <div class="footer-contact">
        <p><strong>Contact Us</strong></p>
        <p>Email: <a href="mailto:info@communitymovers.org">info@communitymovers.org</a></p>
        <p>Phone: (123) 456-7890</p>
      </div>
    </div>

  <script>
    window.EVENTS_JSON_URL = "{{ url_for('static', filename='events.json') }}";
  </script>
  <script src="{{ url_for('static', filename='events.js') }}" defer></script>
  <!--<script src="script.js"></script>-->
</body>
</html>